.config/github-copilot
.config/neofetch/config.conf
.config/htop
.config/configstore
.config/go/telemetry/local
.config/nextjs-nodejs
.config/dconf
.config/discord
.config/evolution/sources
.config/google-chrome
.config/gtk-3.0
.config/lazygit
.config/menus/applications-merged
.config/nvim/LICENSE
.config/pulse
.config/systemd/user/default.target.wants
.config/.gsd-keyboard.settings-ported
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/package-lock.json
.config/user-dirs.dirs
.config/user-dirs.locale
yay
.config/discordcanary
.config/Docker Desktop
.config/Postman
.config/obs-studio
.config/systemd/user/graphical-session.target.wants
